#!/bin/sh

export BITS=/data/BITS

export PKS_FQDN="pks-sys.gv"
export REG_FQDN="harbor.pks-reg.gv"

export UAA_FQDN="uaa.${PKS_FQDN}"
# UAA Admin Secret from PKS VM / Service
export UAA_ADMIN_SECRET="BjIGocMEcVxOJ8YDi4_R-cXL0qzdck4I"

export ADMIN="vmware"
export ADMIN_PASSWORD="VMware1!"
export CLUSTER_NAME="gv-1"

# OpsManager VM IP = DIRECTOR
export DIRECTOR="192.168.40.2"
# OpsManager VM IP
export OPSMANAGER="opsmanager.cpod-gv.shwrfr.mooo.com"

export DOCKER_CONTENT_TRUST=1
export DOCKER_CONTENT_TRUST_SERVER=https://${REG_FQDN}:4443

export OPENFAAS_URL=192.168.42.10:8080
